/* Work Sans Font From Googlew Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* COMMON CSS */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.section-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.section-description {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 20px 0;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    display: inline-block;
}

/* HEADER CSS */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    gap: 35px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.banner-wrapper {
    margin: 50px 0;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-wrapper img {
    margin-top: 20px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.features-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.teams-image-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-content-wrapper {
    padding: 0 70px;
}

.feature-title {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.text-black {
    color: #131313;
    font-weight: 700;
}

.text-yellow {
    color: #FF900E;
    font-weight: 700;
}

.feature-description {
    margin: 24px 0;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.service-features-section {
    padding: 70px 0;
    display: flex;
    gap: 100px;
}

.sevices-content{
    width: 50%;
}

.sevices-image {
    width: 50%;
} 

.sevices-image img {
  height: 100%;  
}

.sevices-content .section-title {
    text-align: left;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.sevices-content .section-description {
    text-align: left;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.service-card {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.service-card h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.service-card p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 10px;
}

.sevices-image {
    position: relative;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    position: absolute;
    left: -50px;
    bottom: -50px;
    text-align: center;
}

.ten-years-badge h2 {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    /* 107.692% */
}

.ten-years-badge p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}

.facts {
    padding: 70px 0;
}

.facts-title {
    text-align: left;
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.facts-description {
    text-align: left;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
    line-height: 1.8rem;
    /* 162.5% */
}


.facts-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 145px;
}

.facts-card-wrapper .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}

.card img {
    width: 45px;
    height: 45px;
}

.card h2 {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.card p {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}

.sponsors-section {
    padding: 70px 0;
}

.sponsors-image-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
}

.sponsors-image-wrapper img {
    width: 165px;
}

footer {
    padding: 120px 40px;
}

.footer-wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF4E7;
}













/* RESPONSIVE CSS STYLE START*/

/* SM Device or Mobile Device*/
@media screen and (max-width:576px) {
    main {
        max-width: 450px;
    }

    header {
        padding: 10px 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        margin: 30px 0;
    }

    .features-section {
        flex-direction: column;
    }

    .features-content-wrapper {
        margin-top: 40px;
    }

    .teams-image-wrapper {
        padding: 50px;
        grid-template-columns: 1fr;
    }

    .facts-card-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .sponsors-image-wrapper {
        flex-direction: column;
    }

    .service-features-section {
       flex-direction: column;
       padding: 20px;
    }

    .sevices-content{
        width: 100%;
    }
    
    .sevices-image {
        width: 100%;
    } 

    .ten-years-badge{
        left: 25%;
    }

}








/* MD Device or Tablet Device*/
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px 40px;
    }

    main {
        max-width: 840px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        margin: 30px 0;
    }

    .features-section {
        flex-direction: column;
    }

    .features-content-wrapper {
        margin-top: 40px;
    }

    .teams-image-wrapper {
        padding: 50px;
    }

    .facts-card-wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .facts-title {
        padding: 0 70px;
    }

    .facts-description {
        padding-left: 70px;
    }

    .sponsors-image-wrapper {
        flex-direction: column;
    }

    .service-features-section {
        flex-direction: column;
        padding: 20px;
     }

     .sevices-content{
        width: 100%;
    }
    
    .sevices-image {
        width: 100%;
    } 
    .ten-years-badge{
        left: 25%;
    }
}

/* LG Device */
@media screen and (min-width:960px)

/*and (max-width:1024px)*/
    {
    header {
        padding: 20px 40px;
    }

    .facts-card-wrapper {
        gap: 15px;
    }
}

/* RESPONSIVE CSS STYLE END*/